<body id="celebpage">
    <div id="sidebar" class="ui orange left demo vertical inverted visible  sidebar labeled icon menu">
        <a class="item">
            <img id="home_logo" class="center" src="img/image.png" height: "20px" width:"20px">
        </a>
        <a href="/home" class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a href="/mycloset" class="item">
            <i class="block layout icon"></i>
            My Closet
        </a>
        <a href="/fits" class="item">
            <i class="theme icon"></i>
            Fits
        </a>
        <a href="/celebfits" class="item">
            <i class="diamond icon" class="fits"></i>
            Celeb Fits
        </a>
        <a href="/logout" class="item">
            <i class="sign out alternate icon"></i>
            Logout
        </a>
    </div>
    </div>
    <div id="names">
        <h1>A$VP Rocky</h1>
        <h1>Rihanna</h1>
    </div>
    <div id="celebcontent">
        <div id="celebpic">
            <img src="img/asap.jpg" alt="Pic of A$VP Rocky" height="100%" width="45%">
            <img src="img/riri.jpg" alt="Pic of RiRi" height="100%" width="45%">
        </div>
        <div id="clothing">
            <div id="leftside">
                <img src="img/striped.png" alt="Striped Shirt" height="15%" width="15%">
                <p>Black and White Striped Cotton Shirt: $8.99(H&M)</p>
                <img src="img/whitetee.png" alt="White Tee" height="15%" width="15%">
                <p>White T-Shirt: $6.99(H&M)</p>
                <img src="img/jean.png" alt="Jeans" height="15%" width="15%">
                <p>Jeans: $19.99(H&M) (use marker to make edits to jeans)</p>
                <img src="img/burberry.png" alt="Burberry" height="15%" width="15%">
                <p>Burberry Long Shirt: $395 (Shirt in photo)</p>
            </div>
            <div id="rightside">
                <img src="img/hoodie.png" alt="White Hoodie" height="15%" width="15%">
                <p>White Hoodie: $24.99(H&M)</p>
                <img src="img/joggers.png" alt="Jeans" height="15%" width="15%">
                <p>Joggers: $14.98(Fashion Nova)</p>
            </div>
        </div>
    </div>

    <body>