<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    crossorigin="anonymous" />
  <link rel='stylesheet' href='/css/style.css' />
  <script> src = "/public/js/ourscript.js" </script>
  <script src="tracking-min.js"></script>
  <script src="public/js/script.js"></script>

</head>

<style>
  body {
    background-image: url("/img/colorbackground.png");
    background-size: cover;
    background-attachment: fixed;
  }
</style>

<body>
  <div class="ui hidden divider"></div>
  {{{body}}}

</body>

</html>