{{log outfits}}
<div id="grid-container">
    <div id="sidebar" class="ui red left demo vertical inverted visible  sidebar labeled icon menu">
        <a class="item">
            <img id="home_logo" class="center" src="img/image.png" height: "20px" width:"20px">
        </a>
        <a href="/home" class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            My Closet
        </a>
        <a href="/fits" class="item">
            <i class=" theme icon"></i>
            Fits
        </a>
        <a href="/celebfits" class="item">
            <i class="diamond icon" class="fits"></i>
            Celeb Fits
        </a>
        <a href="/logout" class="item">
            <i class="sign out alternate icon"></i>
            Logout
        </a>
    </div>
    <div id="content">
        <h1>
            <font size="8">My Closet</font>
        </h1>
    </div>
    <div id="closetshirts" class="ui container">
        {{#each shirts}}
        <div id="eachshirt" class="ui centered three column grid">
            <div class="image">
                <img class="fit-image" src="/img/{{this.image}}">
            </div>
        </div>
        {{/each}}
    </div>
    <div id="closetpants" class="ui container">
        {{#each pants}}
        <div id="eachpant" class="ui centered three column grid">
            <div class="image">
                <img class="fit-image" src="/img/{{this.image}}">
            </div>
        </div>
        {{/each}}
    </div>
    <div id="closetshoes" class="ui container">
        {{#each shoes}}
        <div id="eachpant" class="ui centered three column grid">
            <div class="image">
                <img class="fit-image" src="/img/{{this.image}}">
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- <div class="ui three column divided padded grid" id="clothesColumn">
        <div class="row">
            <div class="column">
                <img src="img/redtshirt.jpg" alt="Red T-Shirt">
            </div>
            <div class="column">
                <img src="img/bluejeans.jpeg" alt="Blue Jeans">
            </div>
            <div class="column">
                <img src="img/blackvans.jpeg" alt="Black Vans">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="img/bluegucci.jpg" alt="Blue Gucci Shirt">
            </div>
            <div class="column">
                <img src="img/whitejeans.jpg" alt="White Jeans">
            </div>
            <div class="column">
                <img src="img/whiteshoes.jpg" alt="White Shoes">
            </div>
        </div>
    </div>
</div> --}}